---
import { cursosCache, usuariosCache, fetchCursosYUsuarios } from '../../lib/firebase';
import Post from '../../components/Post.astro';
import HomePage from '../../components/HomePage';
import Footer from '../../components/Footer.astro';
import WidgetComentarios from "../../components/WidgetComentarios.jsx";
import useAuthStore from "../../lib/useAuthStore"; 


if (cursosCache.length === 0) {
  await fetchCursosYUsuarios();
} else {
}

// Función para generar rutas estáticas
export async function getStaticPaths() {
  if (cursosCache.length === 0) {
    await fetchCursosYUsuarios();
  }
  return cursosCache.map((curso) => ({
    params: { slug: curso.id.toString() },
  }));
}

// Obtener el parámetro de la URL
const { slug } = Astro.params;

//  Asegurar que la caché está poblada antes de buscar el curso
if (cursosCache.length === 0) {
  await fetchCursosYUsuarios();
}

// Convertir el slug a número y buscar el curso
const courseId = parseInt(slug, 10);
const currentCourse = cursosCache.find((curso) => curso.id === courseId);

if (!currentCourse) {
  console.error(`ERROR: No existe ningún curso con el id: "${slug}"`);
  throw new Error(`No existe ningún curso con el id: "${slug}"`);
}

---




<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/styles/global.css" />
    <title>{currentCourse.titulo}</title>
  </head>
  <body class="overflow-auto">
    <main class="relative min-h-screen bg-cover bg-center bg-fixed" style="background-image: url('/img/fondo3.jpg');">
      <HomePage client:load cursos={cursosCache} usuarios={usuariosCache} showHero={false}/>
      <section class="w-full max-w-4xl bg-white overflow-hidden mx-auto mt-10">
        <Post {...currentCourse} />
        <WidgetComentarios slug={slug} client:visible />
      </section>
      <Footer />
      <button id="back-to-top" class="fixed bottom-10 right-14 p-4 transition-all duration-300 opacity-0 translate-y-2 invisible animate-bounce" aria-label="Back to top">
        <img src="/img/arrow-upRed.png" alt="Flecha subir" class="w-14 h-14"/>
      </button>
    </main>
    <script type="module" src="/backToTop.js"></script>
  </body>
</html>
